.room-container {
  padding-top: 56px;
  height: 100vh;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.video-item {
  width: 100%;
  height: auto;
  justify-self: center;
}

.room-buttons {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-bottom: 10px;
}
