.categories-container {
  padding: 2rem;
  padding-top: 1rem;
  margin: 0 auto;
  margin-top: 56px;
  max-width: 50%;
  overflow-y: auto;
  justify-content: center;
}
.categories-container::-webkit-scrollbar-track {
  background: transparent;
}
.categories-container::-webkit-scrollbar-thumb {
  background: #888;
}
@media screen and (max-width: 800px) {
  .categories-container {
    max-width: 100%;
  }
}

.categories-item-title {
  padding: 5px 10px;
  color: white;
}

.categories-item {
  background: linear-gradient(to bottom, #5c6770, #454d54);
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  color: white;
  z-index: 0;
  transition: 0.3s;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}
.categories-item:hover {
  z-index: 100;
  transform: scale(1.025);
  box-shadow: 0px 21px 25px 0px rgba(0,0,0,0.3);
}
/* .categories-item::after {
  content: '';
  position: relative;
  top: 0; bottom: 0; right: 0;
  background: linear-gradient(to bottom, #20b2aa, #1b9891);
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 20px;
  height: 100%;
  float: right;
} */
.categories-image {
  /* margin-left: -4%; */
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.categories-left {
  width: 350px;
}
@media screen and (max-width: 800px) {
  .categories-left {
    display: none !important;
  }
}

.categories-left {
  background-color: #22262a;
}

.categories-left .categories-container {
  margin: 0;
  margin-top: 56px;
  padding: 0;
  padding-bottom: 8px;
  max-width: 100%;
  border-top: 1pt solid gray;
}

.categories-left .categories-item {
  padding: 8px;
  padding-bottom: 7px;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  background: #454d54;
  border-bottom: 1pt solid gray;
  box-shadow: 0px 2px 2px #171a1c;
  transition: all 0.2s;
}
.categories-left .categories-item:hover {
  transform: none;
  background: #5c6670;
}

.categories-left .categories-image {
  width: 40px;
  height: 40px;
}