.chatroom-page {
  display: flex;
}

@media screen and (max-width: 800px) {
  .send-box {
    left: 0 !important;
  }

  .chatroom-container {
    box-shadow: none !important;
  }

  .chatroom-header {
    box-shadow: 0px 4px 4px #22262a !important;
  }
}

.chatroom-container {
  background-color: #2e3338;
  padding-top: 56px;
  padding-bottom: 56px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex: 1;
  flex-direction: column;
  box-shadow: inset 2px 4px 6px #171a1c;
}

.chatroom-header {
  z-index: 999;
  background-color: #343a40;
  padding: 8px;
  display: flex;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: 4px 2px 6px #171a1c;
}
.chatroom-header-title {
  padding: 5px 10px;
  color: white;
}

.message-list {
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
}

.message {
  outline: none;
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 5px;
  color: white;
  filter: drop-shadow(0px 0px 8px #22262a);
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: auto;
  line-break: anywhere;
  max-width: 50vw;
  transition: all 0.25s;
}
.message:hover,
.message:focus {
  box-shadow: 0px 0px 8px #5b6671;
}
.message-button {
  position: sticky;
  float: left;
  margin-left: -40px;
  margin-top: -4px;
  transition: all 0.5s;
  visibility: hidden;
  height: 28px !important;
  width: 28px !important;
  filter: drop-shadow(0px 0px 8px red);
  font-size: 16px;
  padding: 0;
}
.message:hover .message-button,
.message:focus .message-button {
  visibility: visible;
}
.message-info {
  font-size: 10pt;
  margin-bottom: 2px;
}
.message-info .message-name {
  display: inline-block;
}
.message-info .message-date {
  margin-left: 6px;
  float: right;
}
.message-received {
  background: linear-gradient(to bottom, #73808c, #5c6670);
  border-top-left-radius: 0px;
  align-self: flex-start;
}
.message-sent {
  background: linear-gradient(to bottom, #20b2aa, #1b9891);
  border-top-right-radius: 0px;
  align-self: flex-end;
}
.message.message-sent:focus {
  background: linear-gradient(to bottom, #1fada6, #17827d);
}
.message-image {
  width: 100%;
  border-radius: 4px;
  background: #454d54;
  cursor: pointer;
}
.message-file {
  display: flex;
  align-items: center;
  background: #454d5477;
  border-radius: 4px;
  padding: 8px;
}

.message a:hover {
  text-decoration: underline;
}

.modal-image {
  height: 80vh;
  align-self: center;
}

.send-box {
  position: fixed;
  bottom: 0;
  left: 350px;
  right: 0;
  z-index: 999;
  padding: 10px;
  display: flex;
}
.send-box .message-input {
  border: none;
  outline: none;
  border-radius: 20px;
  background: linear-gradient(to bottom, #fff, #ccc);
  box-shadow: 0px 0px 12px #22262a;
  margin-right: 8px;
  margin-left: 8px;
  transition: all 0.25s;
}
.send-box .message-input:hover,
.send-box .message-input:focus {
  box-shadow: 0px 0px 12px #5b6671;
}

.button {
  outline: none;
  background: linear-gradient(to bottom, #20b2aa, #1b9891);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 12px #22262a;
  transition: all 0.25s;
  width: 38px;
  height: 38px;
}
.button:hover {
  box-shadow: 0px 0px 12px #5b6671;
}
.button:active {
  background: linear-gradient(to bottom, #1fada6, #17827d);
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
}
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: 0px 0px 12px #5b6671 !important;
}
.dropdown-toggle:focus,
.dropdown-toggle:active {
  background: linear-gradient(to bottom, #1fada6, #17827d);
}
.dropdown-toggle:after {
  display: none;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
}

.dropdown-item {
  padding: 0.33rem 0px;
  text-align: left;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: transparent;
}

.image-modal .modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
}
