body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 11pt;
  /* overflow: hidden; */
  color: white;
  background: #171a1c;
}

.page-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-error {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

.custom-a {
  color: lightseagreen;
}
.custom-a:hover {
  color: lightskyblue;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.blank-button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.header-link {
  margin: 0px 6px;
  transition: all 0.1s;
  padding: 4px 8px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.header-link:hover {
  background: #00000033;
  border: 1px solid #00000055;
}
.header-link:active {
  background: #00000055;
  border: 1px solid #00000088;
}
