body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* overflow: hidden; */
  color: white;
  background: #171a1c;
}

.page-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-error {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

.custom-a {
  color: lightseagreen;
}
.custom-a:hover {
  color: lightskyblue;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
