body,
input,
button,
.modal-dialog {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 11pt;
}

body {
  /* overflow: hidden; */
  color: white;
  background: #171a1c;
}

.page-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-error {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

.custom-a {
  color: lightseagreen;
}
.custom-a:hover {
  color: lightskyblue;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.blank-button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.button {
  outline: none !important;
  border: none !important;
  box-shadow: 0px 0px 12px #22262a !important;
  background-color: #5c6870 !important;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.25)
  ) !important;
  border-radius: 20px;
  padding: 6px 16px;
  transition: all 0.25s;
  color: white;
}
.button:hover {
  box-shadow: 0px 0px 12px #5b6671 !important;
  background-color: #5c6870 !important;
}
.button:active {
  background-color: #505b62 !important;
}

.button-green,
.button-green:hover,
.button-green:focus {
  background-color: #20b2aa !important;
}
.button-green:active {
  background-color: #1b8f89 !important;
}

.button-red,
.button-red:hover,
.button-red:focus {
  background-color: #d92626 !important;
}
.button-red:active {
  background-color: #b22020 !important;
}

.button-round {
  border-radius: 50%;
  padding: 4px;
  min-width: 38px !important;
  min-height: 38px !important;
  width: 38px !important;
  height: 38px !important;
  max-width: 38px !important;
  max-height: 38px !important;
}

.button-round-large {
  border-radius: 50%;
  padding: 4px;
  min-width: 50px !important;
  min-height: 50px !important;
  width: 50px !important;
  height: 50px !important;
  max-width: 50px !important;
  max-height: 50px !important;
}

.button-round-small {
  border-radius: 50%;
  padding: 0px;
  padding-bottom: 1px;
  min-width: 24px !important;
  min-height: 24px !important;
  width: 24px !important;
  height: 24px !important;
  max-width: 24px !important;
  max-height: 24px !important;
}

.textbox {
  border: none;
  outline: none;
  border-radius: 20px;
  background: linear-gradient(to bottom, #fff, #ccc);
  box-shadow: 0px 0px 12px #22262a;
  padding: 4px 12px;
  transition: all 0.25s;
}
.textbox:hover,
.textbox:focus {
  box-shadow: 0px 0px 12px #5b6671;
}

.header-link {
  margin: 0px 6px;
  transition: all 0.1s;
  padding: 4px 8px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.header-link:hover {
  background: #00000033;
  border: 1px solid #00000055;
}
.header-link:active {
  background: #00000055;
  border: 1px solid #00000088;
}

.page-scroll-container {
  margin-top: 56px;
  width: 100vw;
  height: calc((var(--vh, 1vh) * 100) - 56px);
  overflow-y: auto;
}

.modal {
  backdrop-filter: blur(6px);
}

.modal-content {
  backdrop-filter: blur(12px);
  background: linear-gradient(to bottom, #394146aa, #2e3438aa);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 10px #00000055;
}

.modal-header,
.modal-body,
.modal-footer {
  border-color: #77777777;
}

.navbar-brand {
  font-weight: 200;
}

.loading-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100vw;
  display: flex;
  text-align: center;
}

.loading-box .spinner-border {
  align-self: center;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-width: 6px;
  box-shadow: 0px 0px 8px 4px #00000033;
}
