/* .container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: red;
}

.form {
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-width: 5px;
  border-color: yellow;
  outline: none;
} */
